body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}


.container {
    background-color: #f5fe72;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #333;
    font-size: 1em;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="date"] {
    border: 2px solid #ff69b4;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #149dff;
}

#eventsContainer {
    margin-top: 20px;
}
